<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/teresaDB
		</property>
		<property name="hibernate.connection.username">
			<!-- zelf invullen-->
		</property>
		<property name="hibernate.connection.password">
			<!-- zelf invullen-->
		</property>
		<!--<property name="hibernate.id.new_generator_mappings">false</property>-->
		<property name="show_sql">true</property>
		<mapping class="database.Resources"/>
		<mapping class="database.Music"/>
	</session-factory>
</hibernate-configuration>